<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<title>Hello</title>
</head>
<body>
	<h1>レコードの更新</h1>
  <p>
    <p><%
    @all.each do|i|
      %>
    <p style="line-height:1em;"><%=i%></p>
    <%end
     %></p>
  </p>
  <p>レコードの更新</p>
  <form action="/sql6_4" method="post">
    ID<input type="text" name="text1" value="">
    名前<input type="text" name="text2" value="">
    電話番号<input type="text" name="text3" value="">
    年齢<input type="text" name="text4" value="">
    誕生日<input type="text" name="text5" value="">
		どのIDが対象？<input type="text" name="text6" value="">
		<input type="submit" value="送信">
  </form>


</body>
</html>
