<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<title>Hello</title>
</head>
<body>
<h1>レコード削除</h1>

<p><%
@all.each do|i|
  %>
<p style="line-height:1em;"><%=i%></p>
<%end
 %></p>
<p style="margin-top:60px;">削除したいレコードのID番号を入力してください</p>
<form action="/sql6_3" method="post">
  <input type="text" name="id">
  <input type="submit" value="送信">
</form>

<p><%=@delete%></p>


<!-- <a href="/test">テストページへ（クエストリング２）</a>
<p><a href="/session_instance">セッションの動作テスト	</a></p>
<p><a href="/session_get">セッションを直接見る</a></p> -->
</body>
</html>
