<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>test-name</title>
</head>
<body>
  <p><input type="text" name="name"></p>
  <p><input type="radio" name="radio">
    <input type="radio" name=radio></p>
  
  <textarea name="text-box" id="" cols="30" rows="10"></textarea>
</body>
</html>