<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>RUMSユーザー情報詳細画面</title>
    </head>
    <body>
      <h1>削除しました。</h1>
      <FORM>
      <INPUT type="button" value="検索画面に戻る" onClick="history.go(-3)">
      </FORM>
      <p><a href="/">トップに戻る</a></p>
    </body>
</html>
