<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>EC_site</title>
    <link rel="stylesheet" href="../ec_style" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/ec_style.css">
  </head>
  <body>
    <header>
      <div class="container">
        <h1>ECサイトタイトル</h1>
        <div class="login">
          <%if @login_check.nil?%>
          <!--  ここに条件分岐を入れて、ログイン、ログアウトの状態を振り分ける。 -->
          <form action="/login" method="post">
            <input type="hidden" name="login" value="on_login">
            <input type="submit" value="ログインする">
          </form>

            <%else%>
          <!-- ここまで -->

          <p id="welcome_user"><a href="/mydata"><%=@login_check["name"]%></a>さんようこそ！</p>
          <form action="/login" method="post">
            <input type="hidden" name="login" value="off_login">
            <input type="submit" value="ログアウト">
          </form>
          <a class="link_button" href="/cart"><i class="fa fa-cart-arrow-down" id="fa-cart" aria-hidden="true"></i> カート</a>
            <%end%>
            <a href="/" class="link_button">トップに戻る</a>
        </div>
      </div>
    </header>

    <div class="container">
      <%if @error==false%>
      <h1>追加するにはログインしてください。</h1>
      <%else%>
        <%if @checks==false%>
        <h1 class="checks">追加しました！</h1>
        <%else%>
        <h1 class="checks">すでに追加してあります。</h1>
        <%end%>
        <a onClick="history.go(-1)" class="link_button" id="adds">戻る</a>
        <div class="clear"></div>
      <%end%>
    </div>
    <footer>
      <h1>EC_site</h1>
      <small>	&#x1F12B;garchomp</small>
    </footer>
  </body>
</html>
