<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>tekitou</title>
  </head>
  <body>
    <body>
      <%
            @params
            require 'prime'
            x=@params["sosuu"].to_i
            total=0
            Prime.each(10) do|i|%>
              <%="<p>#{i}で#{x/i}回割れます。</p>"%>
              <%total=total+(x/i)
            end%>




      <p>合計は：<%= total %></p>

    </body>
  </body>
</html>
