<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>test-name</title>
  </head>
  <body>

    <form action="/form-request" method="get">
      <p>10以下の素数の数を求めたい数字を入力してください。：
        <input type="text" name="sosuu">
        <input type="submit" name="" value="確認する！">
      </p>
    </form>
  </body>

</html>
