<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>test-name</title>
  </head>
  <body>

    <form action="/form-request" method="get">


      <p>名前<input type="text" name="name"></p>
      <p>性別：
        <input type="radio" name="sex" value="male">男
        <input type="radio" name="sex" value="female">女</p>
      <p>趣味 <br>
        <textarea name="syumi" id="" cols="30" rows="10"></textarea></p>
      <p><input type="submit" name="" value="送信"><input type="reset" name="" value="リセット"></p>
      </body>
    </form>
</html>
